[General]
bypass-system = true
skip-proxy = 127.0.0.1, 192.168.0.0/16, 10.0.0.0/8, ::ffff:0.0.0.0/1, ::ffff:128.0.0.0/1, localhost, *.local
dns-server = system, 1.1.1.1, 9.9.9.9, 208.67.222.222
loglevel = notify

[Proxy]
🇻🇳VinhVN = socks5, 127.0.0.1, 443, username, password

[Rule]
//Apple
DOMAIN-KEYWORD,ocsp.apple.com,REJECT
DOMAIN-KEYWORD,/ads/,REJECT
DOMAIN-KEYWORD,_ads,REJECT
DOMAIN-KEYWORD,_ads_,REJECT
DOMAIN-KEYWORD,123c.vn,REJECT
DOMAIN-KEYWORD,2mdn,REJECT
DOMAIN-KEYWORD,3lift,REJECT
DOMAIN-KEYWORD,aatkit,REJECT
DOMAIN-KEYWORD,accengage,REJECT
DOMAIN-KEYWORD,activation.adobedtm.com,REJECT
DOMAIN-KEYWORD,ad-,REJECT
DOMAIN-KEYWORD,ad.youtube.com,REJECT
DOMAIN-KEYWORD,ad1,REJECT
DOMAIN-KEYWORD,ad2,REJECT
DOMAIN-KEYWORD,ad3,REJECT
DOMAIN-KEYWORD,ad4,REJECT
DOMAIN-KEYWORD,ad5,REJECT
DOMAIN-KEYWORD,ad6,REJECT
DOMAIN-KEYWORD,ad7,REJECT
DOMAIN-KEYWORD,ad8,REJECT
DOMAIN-KEYWORD,ad9,REJECT
DOMAIN-KEYWORD,adasiaholdings,REJECT
DOMAIN-KEYWORD,adblox,REJECT
DOMAIN-KEYWORD,adbro.me,REJECT
DOMAIN-KEYWORD,adcast,REJECT
DOMAIN-KEYWORD,adclick,REJECT
DOMAIN-KEYWORD,adcolony,REJECT
DOMAIN-KEYWORD,adchoice,REJECT
DOMAIN-KEYWORD,addthis,REJECT
DOMAIN-KEYWORD,adeventtracker,REJECT
DOMAIN-KEYWORD,ad-exchange,REJECT
DOMAIN-KEYWORD,adfox.vn,REJECT
DOMAIN-KEYWORD,adinfuse,REJECT
DOMAIN-KEYWORD,adjust.com,REJECT
DOMAIN-KEYWORD,adjust.io,REJECT
DOMAIN-KEYWORD,admarketplace,REJECT
DOMAIN-KEYWORD,admarvel,REJECT
DOMAIN-KEYWORD,admaster,REJECT
DOMAIN-KEYWORD,admdfs,REJECT
DOMAIN-KEYWORD,admedia,REJECT
DOMAIN-KEYWORD,admedia.com.vn,REJECT
DOMAIN-KEYWORD,admicro,REJECT
DOMAIN-KEYWORD,admob,REJECT
DOMAIN-KEYWORD,adn.insight.ucweb.com,REJECT
DOMAIN-KEYWORD,adnetwork,REJECT
DOMAIN-KEYWORD,adnewnc,REJECT
DOMAIN-KEYWORD,adnow,REJECT
DOMAIN-KEYWORD,adnxs,REJECT
DOMAIN-KEYWORD,adobedtm.com,REJECT
DOMAIN-KEYWORD,adpia,REJECT
DOMAIN-KEYWORD,ads-,REJECT
DOMAIN-KEYWORD,-ads,REJECT
DOMAIN-KEYWORD,ads.,REJECT
DOMAIN-KEYWORD,ads_,REJECT
DOMAIN-KEYWORD,ads1.,REJECT
DOMAIN-KEYWORD,ads10,REJECT
DOMAIN-KEYWORD,ads2,REJECT
DOMAIN-KEYWORD,ads3,REJECT
DOMAIN-KEYWORD,ads4,REJECT
DOMAIN-KEYWORD,ads5,REJECT
DOMAIN-KEYWORD,ads6,REJECT
DOMAIN-KEYWORD,ads7,REJECT
DOMAIN-KEYWORD,ads8,REJECT
DOMAIN-KEYWORD,ads9,REJECT
DOMAIN-KEYWORD,adsage,REJECT
DOMAIN-KEYWORD,adsame,REJECT
DOMAIN-KEYWORD,adsbygoogle,REJECT
DOMAIN-KEYWORD,adsensor,REJECT
DOMAIN-KEYWORD,adserver,REJECT
DOMAIN-KEYWORD,adservice,REJECT
DOMAIN-KEYWORD,adsmogo,REJECT
DOMAIN-KEYWORD,adsplay,REJECT
DOMAIN-KEYWORD,adsplus.vn,REJECT
DOMAIN-KEYWORD,adspruce,REJECT
DOMAIN-KEYWORD,adsrvmedia,REJECT
DOMAIN-KEYWORD,adsrvr,REJECT
DOMAIN-KEYWORD,adsv2,REJECT
DOMAIN-KEYWORD,adsystem,REJECT
DOMAIN-KEYWORD,adt.com.vn,REJECT
DOMAIN-KEYWORD,adt.com.vn,REJECT
DOMAIN-KEYWORD,adtech,REJECT
DOMAIN-KEYWORD,adtima,REJECT
DOMAIN-KEYWORD,adthor,REJECT
DOMAIN-KEYWORD,adtrue.com,REJECT
DOMAIN-KEYWORD,adv.,REJECT
DOMAIN-KEYWORD,adver.mobi,REJECT
DOMAIN-KEYWORD,advergine.com,REJECT
DOMAIN-KEYWORD,adverserve,REJECT
DOMAIN-KEYWORD,advert,REJECT
DOMAIN-KEYWORD,advertica,REJECT
DOMAIN-KEYWORD,adverticum,REJECT
DOMAIN-KEYWORD,advertise,REJECT
DOMAIN-KEYWORD,advertisement,REJECT
DOMAIN-KEYWORD,advertising,REJECT
DOMAIN-KEYWORD,advertnative,REJECT
DOMAIN-KEYWORD,adview.cn,REJECT
DOMAIN-KEYWORD,adwords,REJECT
DOMAIN-KEYWORD,adx.,REJECT
DOMAIN-KEYWORD,aerserv.com,REJECT
DOMAIN-KEYWORD,ailamtrieuphu.com,REJECT
DOMAIN-KEYWORD,airbrake,REJECT
DOMAIN-KEYWORD,alexa.com,REJECT
DOMAIN-KEYWORD,alexametrics,REJECT
DOMAIN-KEYWORD,allyes,REJECT
DOMAIN-KEYWORD,ambient-platform,REJECT
DOMAIN-KEYWORD,ambientplatform.vn,REJECT
DOMAIN-KEYWORD,ambimob,REJECT
DOMAIN-KEYWORD,amcdn.vn,REJECT
DOMAIN-KEYWORD,amobi.vn,REJECT
DOMAIN-KEYWORD,amplitude.com,REJECT
DOMAIN-KEYWORD,amsimg.daum-img.net,REJECT
DOMAIN-KEYWORD,an.facebook.com,REJECT
DOMAIN-KEYWORD,analysis,REJECT
DOMAIN-KEYWORD,analysys,REJECT
DOMAIN-KEYWORD,analytics,REJECT
DOMAIN-KEYWORD,ants.vn,REJECT
DOMAIN-KEYWORD,anthill,REJECT
DOMAIN-KEYWORD,api.app.masoffer.net,REJECT
DOMAIN-KEYWORD,api.sdk.zadn.vn,REJECT
DOMAIN-KEYWORD,apinas.nct.vn,REJECT
DOMAIN-KEYWORD,app.masoffer.net,REJECT
DOMAIN-KEYWORD,appapicached.vtvgo.vn,REJECT
DOMAIN-KEYWORD,appboy,REJECT
DOMAIN-KEYWORD,appcnt,REJECT
DOMAIN-KEYWORD,appearch.info,REJECT
DOMAIN-KEYWORD,appier.net,REJECT
DOMAIN-KEYWORD,applifier,REJECT
DOMAIN-KEYWORD,applift,REJECT
DOMAIN-KEYWORD,applovin,REJECT
DOMAIN-KEYWORD,applvn,REJECT
DOMAIN-KEYWORD,appnext,REJECT
DOMAIN-KEYWORD,appodealx.com,REJECT
DOMAIN-KEYWORD,appsflyer,REJECT
DOMAIN-KEYWORD,appspot.com,REJECT
DOMAIN-KEYWORD,apptimize,REJECT
DOMAIN-KEYWORD,assets.adobedtm.com,REJECT
DOMAIN-KEYWORD,atdmt,REJECT
DOMAIN-KEYWORD,b2c.com,REJECT
DOMAIN-KEYWORD,backtrace.io,REJECT
DOMAIN-KEYWORD,banner.,REJECT
DOMAIN-KEYWORD,banners.,REJECT
DOMAIN-KEYWORD,batch.com,REJECT
DOMAIN-KEYWORD,bazaarvoice,REJECT
DOMAIN-KEYWORD,bidgear.com,REJECT
DOMAIN-KEYWORD,blueserving,REJECT
DOMAIN-KEYWORD,bounceexchange.com,REJECT
DOMAIN-KEYWORD,branch.io,REJECT
DOMAIN-KEYWORD,casalemedia,REJECT
DOMAIN-KEYWORD,catch.gift,REJECT
DOMAIN-KEYWORD,cdn.comedia.coccoc.com,REJECT
DOMAIN-KEYWORD,cdnondemand,REJECT
DOMAIN-KEYWORD,cdnwidget,REJECT
DOMAIN-KEYWORD,celtra,REJECT
DOMAIN-KEYWORD,cint.com,REJECT
DOMAIN-KEYWORD,cintnetworks,REJECT
DOMAIN-KEYWORD,clevertap.com,REJECT
DOMAIN-KEYWORD,click.,REJECT
DOMAIN-KEYWORD,clickagy,REJECT
DOMAIN-KEYWORD,clickintext,REJECT
DOMAIN-KEYWORD,clickhubs,REJECT
DOMAIN-KEYWORD,clientmetrics-pa.googleapis.com,REJECT
DOMAIN-KEYWORD,clix.vn,REJECT
DOMAIN-KEYWORD,clkservice,REJECT
DOMAIN-KEYWORD,clksite.com,REJECT
DOMAIN-KEYWORD,cloudfront.net,REJECT
DOMAIN-KEYWORD,cloudmobi,REJECT
DOMAIN-KEYWORD,cnzz,REJECT
DOMAIN-KEYWORD,consensu.org,REJECT
DOMAIN-KEYWORD,conversantmedia,REJECT
DOMAIN-KEYWORD,counter,REJECT
DOMAIN-KEYWORD,crashlytics,REJECT
DOMAIN-KEYWORD,crea4life,REJECT
DOMAIN-KEYWORD,creative.ak.facebook.com,REJECT
DOMAIN-KEYWORD,creative.ak.fbcdn.net,REJECT
DOMAIN-KEYWORD,criteo,REJECT
DOMAIN-KEYWORD,crwdcntrl,REJECT
DOMAIN-KEYWORD,cxense.com,REJECT
DOMAIN-KEYWORD,chartbeat.net,REJECT
DOMAIN-KEYWORD,chartboost.com,REJECT
DOMAIN-KEYWORD,chiji8,REJECT
DOMAIN-KEYWORD,chitika,REJECT
DOMAIN-KEYWORD,daum.net,REJECT
DOMAIN-KEYWORD,daumcdn.net,REJECT
DOMAIN-KEYWORD,deltago.com,REJECT
DOMAIN-KEYWORD,demdex,REJECT
DOMAIN-KEYWORD,deployads,REJECT
DOMAIN-KEYWORD,displayads,REJECT
DOMAIN-KEYWORD,disqus.com,REJECT
DOMAIN-KEYWORD,dnserror,REJECT
DOMAIN-KEYWORD,domob,REJECT
DOMAIN-KEYWORD,doubleclick,REJECT
DOMAIN-KEYWORD,doubleverify,REJECT
DOMAIN-KEYWORD,dpmsrv.com,REJECT
DOMAIN-KEYWORD,duapps,REJECT
DOMAIN-KEYWORD,duomeng,REJECT
DOMAIN-KEYWORD,dwtrack,REJECT
DOMAIN-KEYWORD,effectivemeasure.net,REJECT
DOMAIN-KEYWORD,ettoday,REJECT
DOMAIN-KEYWORD,exosrv.com,REJECT
DOMAIN-KEYWORD,exponential,REJECT
DOMAIN-KEYWORD,ezoic,REJECT
DOMAIN-KEYWORD,fabric.io,REJECT
DOMAIN-KEYWORD,fastly.net,REJECT
DOMAIN-KEYWORD,feedback,REJECT
DOMAIN-KEYWORD,fidelity-media.com,REJECT
DOMAIN-KEYWORD,flashtalking,REJECT
DOMAIN-KEYWORD,float,REJECT
DOMAIN-KEYWORD,flurry,REJECT
DOMAIN-KEYWORD,fout.jp,REJECT
DOMAIN-KEYWORD,fqtag.com,REJECT
DOMAIN-KEYWORD,freshmarketer.com,REJECT
DOMAIN-KEYWORD,fullstory.com,REJECT
DOMAIN-KEYWORD,fyber,REJECT
DOMAIN-KEYWORD,gammaplatform,REJECT
DOMAIN-KEYWORD,geoinfo.i2w.io,REJECT
DOMAIN-KEYWORD,getadmiral.com,REJECT
DOMAIN-KEYWORD,getclicky.com,REJECT
DOMAIN-KEYWORD,gj.applog.uc.cn,REJECT
DOMAIN-KEYWORD,glispa,REJECT
DOMAIN-KEYWORD,gmodules,REJECT
DOMAIN-KEYWORD,go2affise.com,REJECT
DOMAIN-KEYWORD,googleads,REJECT
DOMAIN-KEYWORD,googlesyndication,REJECT
DOMAIN-KEYWORD,googletagmanager,REJECT
DOMAIN-KEYWORD,googletagservices,REJECT
DOMAIN-KEYWORD,gowadogo,REJECT
DOMAIN-KEYWORD,guanggao,REJECT
DOMAIN-KEYWORD,hadarone.com,REJECT
DOMAIN-KEYWORD,herokuapp,REJECT
DOMAIN-KEYWORD,heyzap.com,REJECT
DOMAIN-KEYWORD,iad.,REJECT
DOMAIN-KEYWORD,iadmoo,REJECT
DOMAIN-KEYWORD,iesnare,REJECT
DOMAIN-KEYWORD,imasdk.googleapis.com,REJECT
DOMAIN-KEYWORD,img.masoffer.net,REJECT
DOMAIN-KEYWORD,imgraovat.vnecdn.net,REJECT
DOMAIN-KEYWORD,imrworldwide,REJECT
DOMAIN-KEYWORD,indexww.com,REJECT
DOMAIN-KEYWORD,in-gmtdmp.mookie1.com,REJECT
DOMAIN-KEYWORD,inmobi,REJECT
DOMAIN-KEYWORD,innity.com,REJECT
DOMAIN-KEYWORD,innity.net,REJECT
DOMAIN-KEYWORD,insightexpressai,REJECT
DOMAIN-KEYWORD,instartlogic,REJECT
DOMAIN-KEYWORD,instory-log.ucnews.ucweb.com,REJECT
DOMAIN-KEYWORD,ionicframework,REJECT
DOMAIN-KEYWORD,itim.vn,REJECT
DOMAIN-KEYWORD,jpush.io,REJECT
DOMAIN-KEYWORD,jsecoin,REJECT
DOMAIN-KEYWORD,jwpltx,REJECT
DOMAIN-KEYWORD,kaffnet,REJECT
DOMAIN-KEYWORD,klick.vn,REJECT
DOMAIN-KEYWORD,krxd,REJECT
DOMAIN-KEYWORD,lavanetwork.net,REJECT
DOMAIN-KEYWORD,leanplum,REJECT
DOMAIN-KEYWORD,lianmeng,REJECT
DOMAIN-KEYWORD,lifestreet,REJECT
DOMAIN-KEYWORD,lijit.com,REJECT
DOMAIN-KEYWORD,linksynergy,REJECT
DOMAIN-KEYWORD,livefyre,REJECT
DOMAIN-KEYWORD,lkqd.net,REJECT
DOMAIN-KEYWORD,llnwd,REJECT
DOMAIN-KEYWORD,localytics.com,REJECT
DOMAIN-KEYWORD,log.news.zing.vn,REJECT
DOMAIN-KEYWORD,log.sdk.zadn.vn,REJECT
DOMAIN-KEYWORD,logger,REJECT
DOMAIN-KEYWORD,logly.co,REJECT
DOMAIN-KEYWORD,logserver.insight.ucweb.com,REJECT
DOMAIN-KEYWORD,logv2.mp3.zing.vn,REJECT
DOMAIN-KEYWORD,mangarock.app.link,REJECT
DOMAIN-KEYWORD,mangarock-alternate.app.link,REJECT
DOMAIN-KEYWORD,marinsm.com,REJECT
DOMAIN-KEYWORD,media.net,REJECT
DOMAIN-KEYWORD,medialytics,REJECT
DOMAIN-KEYWORD,mediawayss.com,REJECT
DOMAIN-KEYWORD,mellennialmedia,REJECT
DOMAIN-KEYWORD,metrics.coccoc.com,REJECT
DOMAIN-KEYWORD,mgid,REJECT
DOMAIN-KEYWORD,midasplayer.com,REJECT
DOMAIN-KEYWORD,millennialmedia,REJECT
DOMAIN-KEYWORD,mixpanel,REJECT
DOMAIN-KEYWORD,mmccint.com,REJECT
DOMAIN-KEYWORD,mmstat.com,REJECT
DOMAIN-KEYWORD,moatads,REJECT
DOMAIN-KEYWORD,mobaders,REJECT
DOMAIN-KEYWORD,mobclix,REJECT
DOMAIN-KEYWORD,mobnatives,REJECT
DOMAIN-KEYWORD,mobpartner,REJECT
DOMAIN-KEYWORD,mob-server,REJECT
DOMAIN-KEYWORD,mocean.mobi,REJECT
DOMAIN-KEYWORD,moengage,REJECT
DOMAIN-KEYWORD,mojiva.com,REJECT
DOMAIN-KEYWORD,mookie1,REJECT
DOMAIN-KEYWORD,mopub,REJECT
DOMAIN-KEYWORD,mparticle,REJECT
DOMAIN-KEYWORD,msnbcmedia.msn.com,REJECT
DOMAIN-KEYWORD,mxpnl,REJECT
DOMAIN-KEYWORD,mydas,REJECT
DOMAIN-KEYWORD,neustar,REJECT
DOMAIN-KEYWORD,neustar,REJECT
DOMAIN-KEYWORD,newrelic.com,REJECT
DOMAIN-KEYWORD,newsinc.com,REJECT
DOMAIN-KEYWORD,novanet,REJECT
DOMAIN-KEYWORD,nt-cdn.coccoc.com,REJECT
DOMAIN-KEYWORD,omgmta,REJECT
DOMAIN-KEYWORD,onclickmega,REJECT
DOMAIN-KEYWORD,onelink.me,REJECT
DOMAIN-KEYWORD,onscroll.com,REJECT
DOMAIN-KEYWORD,openload,REJECT
DOMAIN-KEYWORD,openx,REJECT
DOMAIN-KEYWORD,optimizely.com,REJECT
DOMAIN-KEYWORD,pagead,REJECT
DOMAIN-KEYWORD,parrable,REJECT
DOMAIN-KEYWORD,partner.video.syndication.msn.com,REJECT
DOMAIN-KEYWORD,partnerad,REJECT
DOMAIN-KEYWORD,persona.ly,REJECT
DOMAIN-KEYWORD,piano.io,REJECT
DOMAIN-KEYWORD,pinetech,REJECT
DOMAIN-KEYWORD,pingfore,REJECT
DOMAIN-KEYWORD,pixel.facebook.com,REJECT
DOMAIN-KEYWORD,platform.tumblr.com,REJECT
DOMAIN-KEYWORD,po.st,REJECT
DOMAIN-KEYWORD,polyad,REJECT
DOMAIN-KEYWORD,popads,REJECT
DOMAIN-KEYWORD,popcash.net,REJECT
DOMAIN-KEYWORD,popin,REJECT
DOMAIN-KEYWORD,popup.msn.com,REJECT
DOMAIN-KEYWORD,prebid,REJECT
DOMAIN-KEYWORD,pub.network,REJECT
DOMAIN-KEYWORD,pubads,REJECT
DOMAIN-KEYWORD,pubmatic,REJECT
DOMAIN-KEYWORD,put.qostore.daumkakao.io,REJECT
DOMAIN-KEYWORD,qc-,REJECT
DOMAIN-KEYWORD,qc.,REJECT
DOMAIN-KEYWORD,qccoccocmedia.vn,REJECT
DOMAIN-KEYWORD,qc-static.coccoc.com,REJECT
DOMAIN-KEYWORD,qq.com,REJECT
DOMAIN-KEYWORD,qualtrics,REJECT
DOMAIN-KEYWORD,quantserve.com,REJECT
DOMAIN-KEYWORD,quangcao,REJECT
DOMAIN-KEYWORD,rayjump,REJECT
DOMAIN-KEYWORD,redirection.prod.cms.msn.com,REJECT
DOMAIN-KEYWORD,redirection.prod.cms.msn.com.akadns.net,REJECT
DOMAIN-KEYWORD,revcontent.com,REJECT
DOMAIN-KEYWORD,rubiconproject,REJECT
DOMAIN-KEYWORD,servedby-buysellads,REJECT
DOMAIN-KEYWORD,serving-sys,REJECT
DOMAIN-KEYWORD,share.cdn.viber.com,REJECT
DOMAIN-KEYWORD,shareaholic.com,REJECT
DOMAIN-KEYWORD,sharefb.cnnd.vn,REJECT
DOMAIN-KEYWORD,sharethis,REJECT
DOMAIN-KEYWORD,shop.zalo.me,REJECT
DOMAIN-KEYWORD,siftscience,REJECT
DOMAIN-KEYWORD,skimresources,REJECT
DOMAIN-KEYWORD,snnd.co,REJECT
DOMAIN-KEYWORD,snnd.co,REJECT
DOMAIN-KEYWORD,socdm,REJECT
DOMAIN-KEYWORD,sonobi.com,REJECT
DOMAIN-KEYWORD,srvcs,REJECT
DOMAIN-KEYWORD,sslproxy-prod.adobedtm.com,REJECT
DOMAIN-KEYWORD,startappexchange,REJECT
DOMAIN-KEYWORD,startappservice,REJECT
DOMAIN-KEYWORD,static.masoffer.net,REJECT
DOMAIN-KEYWORD,stats.,REJECT
DOMAIN-KEYWORD,steepto.com,REJECT
DOMAIN-KEYWORD,stickyadstv,REJECT
DOMAIN-KEYWORD,subiz,REJECT
DOMAIN-KEYWORD,superfastmediation,REJECT
DOMAIN-KEYWORD,supersonicads,REJECT
DOMAIN-KEYWORD,taboola,REJECT
DOMAIN-KEYWORD,tanx,REJECT
DOMAIN-KEYWORD,tapjoyads,REJECT
DOMAIN-KEYWORD,taplytics,REJECT
DOMAIN-KEYWORD,teads,REJECT
DOMAIN-KEYWORD,tinypass.com,REJECT
DOMAIN-KEYWORD,tiqcdn.com,REJECT
DOMAIN-KEYWORD,toast,REJECT
DOMAIN-KEYWORD,tongji,REJECT
DOMAIN-KEYWORD,tynt.com,REJECT
DOMAIN-KEYWORD,thongke.24h.com.vn,REJECT
DOMAIN-KEYWORD,track-,REJECT
DOMAIN-KEYWORD,track.,REJECT
DOMAIN-KEYWORD,tracking,REJECT
DOMAIN-KEYWORD,trafficjunky,REJECT
DOMAIN-KEYWORD,trenddigital,REJECT
DOMAIN-KEYWORD,uberads,REJECT
DOMAIN-KEYWORD,uedas,REJECT
DOMAIN-KEYWORD,umeng,REJECT
DOMAIN-KEYWORD,umtrack,REJECT
DOMAIN-KEYWORD,uniad,REJECT
DOMAIN-KEYWORD,unity3d.com,REJECT
DOMAIN-KEYWORD,unrulymedia.com,REJECT
DOMAIN-KEYWORD,urbanairship.com,REJECT
DOMAIN-KEYWORD,usage,REJECT
DOMAIN-KEYWORD,vclick,REJECT
DOMAIN-KEYWORD,vcmedia,REJECT
DOMAIN-KEYWORD,velocitycdn,REJECT
DOMAIN-KEYWORD,video-fa.scdn.co,REJECT
DOMAIN-KEYWORD,video-stats.video.google.com,REJECT
DOMAIN-KEYWORD,vietdorje.com,REJECT
DOMAIN-KEYWORD,viglink.com,REJECT
DOMAIN-KEYWORD,vinaads,REJECT
DOMAIN-KEYWORD,vntsm.com,REJECT
DOMAIN-KEYWORD,voicefive.com,REJECT
DOMAIN-KEYWORD,vserv,REJECT
DOMAIN-KEYWORD,vungle.com,REJECT
DOMAIN-KEYWORD,web.f8.pyco.vn,REJECT
DOMAIN-KEYWORD,web.stagingf8.pycogroup.com,REJECT
DOMAIN-KEYWORD,webtrends.com,REJECT
DOMAIN-KEYWORD,widget.nhaccuatui.com,REJECT
DOMAIN-KEYWORD,wlmonitor,REJECT
DOMAIN-KEYWORD,woodpecker.uc.cn,REJECT
DOMAIN-KEYWORD,woopra.com,REJECT
DOMAIN-KEYWORD,wootric,REJECT
DOMAIN-KEYWORD,xmobliefacebook.com,REJECT
DOMAIN-KEYWORD,yllix,REJECT
DOMAIN-KEYWORD,yomedia,REJECT
DOMAIN-KEYWORD,zcoup,REJECT
DOMAIN-KEYWORD,zjtoolbar,REJECT
DOMAIN-KEYWORD,zminer.zaloapp.com,REJECT
//01-01-2019 - Tweakbox
HOST-KEYWORD,leadzutw,REJECT
//02-01-2019 - Web
HOST-KEYWORD,cachefly,REJECT
//03-01-2019 - web
HOST-KEYWORD,criteo,REJECT
HOST-KEYWORD,scorecardresearch,REJECT
HOST-KEYWORD,connect.facebook.net,REJECT
HOST-KEYWORD,sascdn.com,REJECT
HOST-KEYWORD,onthe.io,REJECT
HOST-KEYWORD,infolinks.com,REJECT
HOST-KEYWORD,cacafly.net,REJECT

[URL Rewrite]
//google
^https?:\/\/.+.+_204  reject
^https?://play.googleapis.com/log/*  reject
^https?://s.youtube.com/api/stats/playback*  reject
^https?://s.youtube.com/api/stats/qoe*  reject
^https?://www.googleapis.com/adsmeasurement/*  reject
^https?://www.youtube.com/pagead/*  reject
^https?://www.youtube.com/ptracking  reject
^https?://youtubei.googleapis.com/youtubei/v1/log_*  reject
^https?:\/\/.+\.googlevideo\.com\/.+&oad  reject
^https?:\/\/.+\.googlevideo\.com\/.+ctier  reject
^https?:\/\/.+\.googlevideo\.com\/ptracking\?pltype=adhost  reject
^https?:\/\/.+\.youtube\.com\/api\/stats\/.+adformat  reject
^https?:\/\/.+\.youtube\.com\/api\/stats\/ads  reject
^https?:\/\/.+\.youtube\.com\/get_midroll  reject
^https?:\/\/.+\.youtube\.com\/pagead\/  reject
^https?:\/\/.+\.youtube\.com\/ptracking\?  reject
^https?:\/\/m\.youtube\.com\/_get_ads  reject
^https?:\/\/pagead2\.googlesyndication\.com\/pagead\/  reject
^https?:\/\/premiumyva\.appspot\.com\/vmclickstoadvertisersite  reject
^https?:\/\/s\.youtube\.com\/api\/stats\/watchtime?adformat  reject
^https?:\/\/s0\.2mdn\.net\/ads\/  reject
^https?:\/\/stats\.tubemogul\.com\/stats\/  reject
^https?:\/\/youtubei\.googleapis\.com/.+ad_break  reject
^https?:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/player\/ad_  reject
^https?:\/\/www.googleapis.com/plus/v2  reject

//NCT
^https?://graph.nhaccuatui.com/v4/commons/notify-firebase  reject
^https?://graph.nhaccuatui.com/v4/users/3g-info  reject
^https?://graph.nhaccuatui.com/v4/advs  reject
^https?://avatar-nct.nixcdn.com/.+popup
^https?://graph.nhaccuatui.com/.+deviceinfo
//tiktok
^https?:\/\/api\d?\.tiktokv\.com\/api\/ad\/  reject
^https?:\/\/api\d?\.musical\.ly\/api\/ad\/  reject

//facebook
^https?://graph.facebook.com/network_ads_common/*  reject
^https?://graph.facebook.com/.+activities  reject
^https?://graph.facebook.com/.+advertiser_id=*  reject
^https?://www.facebook.com/adnw_logging/*  reject

//reddit
^https?://www.redditstatic.com/.+ads  reject

//Bao online

^http?:\/\/.+.+Ads  reject
^http?:\/\/.+.+-ads  reject
^http?:\/\/.+.+_ads  reject
^http?:\/\/.+.+/ads/  reject
^http?:\/\/.+.+/ads-  reject
^http?:\/\/.+.+adformat  reject
^http?:\/\/.+.+tracking  reject
^http?:\/\/.+.+Banner  reject
^http?:\/\/.+.+/logcounter  reject
^http?:\/\/.+.+/ntfc.php?  reject
^http?:\/\/.+.+advertisement  reject
^http?:\/\/.+.+/bnr.php?  reject
^http?:\/\/.+.+_beacon?  reject

^https?:\/\/.+.+Ads  reject
^https?:\/\/.+.+-ads  reject
^https?:\/\/.+.+_ads  reject
^https?:\/\/.+.+/ads/  reject
^https?:\/\/.+.+/adsense  reject
^https?:\/\/.+.+/ads-  reject
^https?:\/\/.+.+adformat  reject
^https?:\/\/.+.+tracking  reject
^https?:\/\/.+.+Banner  reject
^https?:\/\/.+.+prebid.js  reject
^https?:\/\/.+.+microservice  reject
^https?://shop.vnexpress.net/api/shop_vne  reject
^https?:\/\/.+.+amp_box_get_json_bai_pr_for_random  reject
^https?://www.24h.com.vn//js/swiper.min.js reject
^https?:\/\/.+.+/ima3.js reject
^https?://image.vtcns.com/files/qc reject
^https?:\/\/.+.+ad-exchange.js reject
^https?:\/\/.+.+admanager.js reject
^https?:\/\/.+.+adsbygoogle.js reject
^https?:\/\/.+.+adasia-ad-network reject
^https?:\/\/.+.+/log?data= reject
^https?:\/\/.+.+/scripts/log reject
^https?:\/\/.+.+//adv reject
^https?:\/\/.+.+/images/adv/
^https?:\/\/.+.+xgemius reject
^https?:\/\/.+.+quangcao reject
^https?:\/\/.+.+/ping.gif? reject

//Phim Online
^http?://www.phimmoi.net/.+blank.+mp4  reject
//Zalo
^https?://qos-zdn.zaloapp.com/.+trackqos
^https?://centralized.zaloapp.com/.+tracking

[MITM]
hostname = *nhaccuatui.com,spclient.wg.spotify.com,*.youtube.com,*.googleapis.com,*.googlevideo.com,*.tiktokv.com,*.musical.ly,*.ytimg.com,*redditstatic.com,*24h.com.vn,*vnexpress.net,*baophapluat.vn,*bongdaplus.vn,*beat.vn,*hdviet.com,*vtc.vn,*.io,*.org,*.info,*.cn,*vtcns.com,*.me,*innity.net,*zaloapp.com,*nixcdn.com,*baomoi.com,*jwpltx.com,cse.google.com
enable = true
